@use 'base/variables' as v;

input {
  &.number-input {
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    padding: 0 20px;
    border-radius: 10px;
    border: 0;
    box-shadow: v.$box-shadow;
  }
}

.wrapper {
  width: 100%;
  max-width: 800px; /* O el tamaño que prefieras */
  margin: 0 auto; /* Para centrar */

  .phone {
    width: 100%;  // Ocupa todo el ancho disponible
    max-width: 350px; // Limitar el ancho máximo en pantallas grandes
    margin: 40px auto 0 auto;
    position: relative;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    span.title {
      font-weight: 700;
      letter-spacing: 2px;
      display: block;
      text-align: center;
    }

    .phone-container {
      width: 100%;
      margin-top: 30px;

      .keyboard {
        width: 90%;
        margin-left: 5%;
        margin-top: 40px;

        .number {
          width: 100%;
          font-size: 0;
          text-align: center;

          &.aling-right {
            text-align: right;
            width: 100%;
          }

          span {
            font-size: 24px;
            color: v.$main-color;
            display: inline-block;
            width: 33.33%; // Ajustar a tres columnas
            text-align: center;
            margin-bottom: 25px;

            i {
              display: inline-block;
              width: 50px; // Fijar un tamaño adecuado
              height: 50px;
              line-height: 50px;
              background: white;
              cursor: pointer;
              border-radius: 100%;
              transition: 250ms;
              user-select: none;
              box-shadow: 8px 8px 24px 0px rgba(132, 132, 132, 0.09);

              &.delete {
                background: transparent;
                box-shadow: 0 0 0 0;
                color: v.$main-color;
              }
            }

            &:hover i {
              color: black;
            }

            &:active i {
              transform: translateY(1px);
              box-shadow: v.$hover-shadow;
            }
          }
        }
      }
    }
  }
}

#verifyButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: v.$red-campus;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; // Asegura que el botón ocupe todo el ancho disponible

  &:hover {
    background-color: darken(v.$red-campus, 10%);
  }
}

#resultMessage {
  width: 100%;
  text-align: center;

  padding: 20px;
  margin-top: 20px;
  word-wrap: break-word;  // Evitar que el texto desborde en pantallas pequeñas
}

// Media queries para pantallas pequeñas
@media (max-width: 600px) {
  .wrapper {
    padding: 10px;
  }

  .phone {
    padding: 15px;
  }

  #verifyButton {
    font-size: 1rem;
    padding: 10px;
  }

  #resultMessage {
    font-size: 1.2em;
  }
}
